<nav class="navbar navbar-expand-sm navbar-dark bg-dark m-1" >
  <a class="navbar-brand" href="/">MircoTech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      {{#if user}}
      <li class="nav-item active">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

      {{else}}
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/register">Register</a>
      </li>
      {{/if}}
      
      
      <li class="nav-item active">
        <a class="nav-link" href="/products">Products</a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="/cart"><img src="https://img.icons8.com/bubbles/38/000000/buy.png"/></a>
      </li>
      <li style="width: 1100px;"></li>
      <li>
        {{#each user}}
        <b class="text-light">{{name}}</b>
        {{/each}}
        
      </li>
    </ul>
  </div>
</nav>